/*  ---------------- HEADER ----------------*/
.topnav a:last-child {
    color: black;
}

.topnav a:last-child:hover {
    color: #F1C32E;
}

.topnav a:first-child {
    color: white;
}

.topnav a:first-child:hover {
    color: white;
}

/*  ---------------- SECTION ----------------*/
section div {
    background-color: #212529;
}

.questions:before {
    content: 'Q:';
}
.questions {
    color: rgb(92, 226, 92);
}

.answers:before {
    content : 'A:';
}
.answers {
    margin-top: 5rem;
    color: #fff;
}

.hwContainer {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

section {
    margin-top: 5rem;
}

.weekContainer {
    padding: 25px;
    outline:10px solid #212529;
    box-shadow:0px 0px 0px 3px white inset;
    line-height: 30px;
}

section h1 {
    display: flex;
    justify-content: center;
}

section p {
    justify-content: center;
}


.readings li {
    list-style: inherit;
    color:white;
    font-weight: 100;
    font-size: 0.5rem;
}
.readings li a{
    color:white;
}

.readings li a:hover {
    color: rgb(209, 121, 89);
}

/*  ---------------- WEEK 02 ----------------*/

#week01 p {
    color: rgb(185, 241, 255);
}



