html {
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    background: rgb(19, 18, 18);
}

/* ----------------GRID */
#shopContainer {
    display: none;
    border: 5px solid white;
    margin: 0 auto;
    margin-top: 2rem;
    width: 90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 0.5fr repeat(3, 0.5fr) 0.1fr;
    grid-template-rows: 0.25fr repeat(3, 1fr) 0.25fr 0.25fr;
    gap: 0px 0px;
}

/* grid area : grid-row-start / grid-column-start / grid-row-end/ grid-column-end; */

/* --- SHOP DOOR (WITH TVS) ----------------------------------------*/
.door {
    background: rgb(36, 24, 20);
}

.door_top {
    grid-area: 1 / 1 / 2 / 2;
}

.door_btm {
    grid-area: 6 / 1 / 7 / 2;
    background: darkgrey;
}

.door_center {
    grid-area: 2 / 1 / 6 / 2;
    height: 100%;
    width: auto;
    margin: 0 auto;
    z-index: +2;
}

/* --- SHOP SIGN ---------------------------------------- */
#sign {
    position: absolute;
    transform-origin: top center;
    width: 7rem;
    left: 13%;
    bottom: 45%;
    z-index: +3;
}

#sign:hover {
    cursor: pointer;
    animation: shake 2s ease infinite;
}

/* --- SHOP WINDOW ----------------------------------------*/
.window_wrap {
    grid-area: 2 / 2 / 6 / 5;
    z-index: +2;
    border: 10px solid rgb(8, 5, 1);
    pointer-events: none;
}

.window_top {
    background: darkgrey;
    grid-area: 1 / 1 / 2 / 6;
    z-index: +2;
}

.window_btm {
    background: darkgrey;
    grid-area: 6 / 2 / 7 / 6;
}

.wall {
    background: darkgrey;
    grid-area: 1/5/6/5;
}

/* TVS ---------------------------------------- */
.tvs {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 1px 3px black);
    background: black;
    filter: blur(0.2px);
    pointer-events: none;
}

.tvs.active:hover {
    cursor: pointer;
}

.active {
    pointer-events: all;
}

.tv-1 {
    grid-area: 2 / 2 / 3 / 3;
}

.tv-1.active {
    background-image: url("../assets/goodnews-01.gif");
    background-size: contain;
    background-position-x: center;
}

.tv-2 {
    grid-area: 2 / 3 / 3 / 4;
}

.tv-2.active {
    background-image: url("../assets/no-signal.gif");
    background-size: contain;
}

.tv-3 {
    grid-area: 2 / 4 / 3 / 5;
}

.tv-3.active {
    background-image: url("../assets/goodnews-03.gif");
}

.tv-4 {
    grid-area: 3 / 2 / 4 / 3;
}

.tv-4.active {
    background-image: url("../assets/atari.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.tv-5 {
    grid-area: 3 / 3 / 4 / 4;
}

.tv-5.active {
    background-image: url("../assets/goodnews-02.gif");
}

.tv-6 {
    grid-area: 3 / 4 / 4 / 5;
}

.tv-6.active {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url("../assets/toons2.gif");
    background-size: contain;
}

.tv-7 {
    grid-area: 4 / 2 / 5 / 3;
}

.tv-7.active {
    background-image: url("../assets/mandela.gif");
    background-size: contain;

}

.tv-8 {
    grid-area: 4 / 3 / 5 / 4;
}

.tv-8.active {
    background-image: url("../assets/disney.jpg");
    background-size: contain;
}

.tv-9 {
    grid-area: 4 / 4 / 5 / 5;
}

.tv-9.active {
    background-image: url("../assets/no-signal.gif");
    background-size: contain;
}

.table {
    background-color: rgb(73, 55, 32);
    grid-area: 5/2/5/5;
}